<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form>
		<input type="radio" name="status" value=1>None<br>
		<input type="radio" name="status" value=2>Short<br>
		<input type="radio" name="status" value=3>Moderate<br>
		<input type="radio" name="status" value=4>Long<br>
		<input type="submit" value="update">
	</form>
</body>
</html>